In [ ]:
import pandas as pd
import numpy as np

In [ ]:
string_data=pd.Series(["Blue","teal",None,np.nan,"Black"])
string_data

0     Blue
1     teal
2     None
3      NaN
4    Black
dtype: object

In [ ]:
string_data.isna()

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [ ]:
float_data=pd.Series([2,4,5,None],dtype='float64')
float_data

0    2.0
1    4.0
2    5.0
3    NaN
dtype: float64

In [ ]:
float_data.isna()

0    False
1    False
2    False
3     True
dtype: bool

# **Filtering out missing data**

In [ ]:
data=pd.Series([2,3,9,np.nan,2.1,np.nan])
data

0    2.0
1    3.0
2    9.0
3    NaN
4    2.1
5    NaN
dtype: float64

In [ ]:
data.dropna()

0    2.0
1    3.0
2    9.0
4    2.1
dtype: float64

In [ ]:
data[data.notna()]

0    2.0
1    3.0
2    9.0
4    2.1
dtype: float64

In [ ]:
data=pd.DataFrame([[2,2.7,8,7.6,9],[np.nan,np.nan,np.nan],[3,np.nan,np.nan]])
data

     0    1    2    3    4
0  2.0  2.7  8.0  7.6  9.0
1  NaN  NaN  NaN  NaN  NaN
2  3.0  NaN  NaN  NaN  NaN

In [ ]:
data.dropna()

     0    1    2    3    4
0  2.0  2.7  8.0  7.6  9.0

In [ ]:
data.dropna(how="all")

     0    1    2    3    4
0  2.0  2.7  8.0  7.6  9.0
2  3.0  NaN  NaN  NaN  NaN

In [ ]:
data[4]=np.nan
data

     0    1    2    3   4
0  2.0  2.7  8.0  7.6 NaN
1  NaN  NaN  NaN  NaN NaN
2  3.0  NaN  NaN  NaN NaN

In [ ]:
data.dropna(axis="columns",how="all")

     0    1    2    3
0  2.0  2.7  8.0  7.6
1  NaN  NaN  NaN  NaN
2  3.0  NaN  NaN  NaN

In [ ]:
df=pd.DataFrame(np.random.standard_normal((5,7)))
df

          0         1         2         3         4         5         6
0  1.670891 -0.481167 -0.739884  1.990439  1.305679 -0.802369 -2.297516
1  1.309389  0.291133  1.037706 -1.001695 -0.181326 -0.624982 -0.043482
2 -0.135432 -0.395794  2.566119  1.236194  1.201420  0.681939  1.164480
3 -2.046168  0.772551  0.274177  0.039248 -0.056899 -0.557984  0.316679
4  0.604744 -0.729532 -0.141619 -0.365957 -0.928815  0.273612 -0.556620

In [ ]:
df.iloc[:3,1]=np.nan
df.iloc[:2,3]=np.nan
df

          0         1         2         3         4         5         6
0  1.670891       NaN -0.739884       NaN  1.305679 -0.802369 -2.297516
1  1.309389       NaN  1.037706       NaN -0.181326 -0.624982 -0.043482
2 -0.135432       NaN  2.566119  1.236194  1.201420  0.681939  1.164480
3 -2.046168  0.772551  0.274177  0.039248 -0.056899 -0.557984  0.316679
4  0.604744 -0.729532 -0.141619 -0.365957 -0.928815  0.273612 -0.556620

In [ ]:
df.dropna()

          0         1         2         3         4         5         6
3 -2.046168  0.772551  0.274177  0.039248 -0.056899 -0.557984  0.316679
4  0.604744 -0.729532 -0.141619 -0.365957 -0.928815  0.273612 -0.556620

In [ ]:
df.dropna(thresh=3)

          0         1         2         3         4         5         6
0  1.670891       NaN -0.739884       NaN  1.305679 -0.802369 -2.297516
1  1.309389       NaN  1.037706       NaN -0.181326 -0.624982 -0.043482
2 -0.135432       NaN  2.566119  1.236194  1.201420  0.681939  1.164480
3 -2.046168  0.772551  0.274177  0.039248 -0.056899 -0.557984  0.316679
4  0.604744 -0.729532 -0.141619 -0.365957 -0.928815  0.273612 -0.556620

# **Filling In Missing data**

In [ ]:
df.fillna(3)

          0         1         2         3         4         5         6
0  1.670891  3.000000 -0.739884  3.000000  1.305679 -0.802369 -2.297516
1  1.309389  3.000000  1.037706  3.000000 -0.181326 -0.624982 -0.043482
2 -0.135432  3.000000  2.566119  1.236194  1.201420  0.681939  1.164480
3 -2.046168  0.772551  0.274177  0.039248 -0.056899 -0.557984  0.316679
4  0.604744 -0.729532 -0.141619 -0.365957 -0.928815  0.273612 -0.556620

In [ ]:
#calling fillna with adictionary,you can use a different fill value with each columns
df.fillna({1:0,5:7})

          0         1         2         3         4         5         6
0  1.670891  0.000000 -0.739884       NaN  1.305679 -0.802369 -2.297516
1  1.309389  0.000000  1.037706       NaN -0.181326 -0.624982 -0.043482
2 -0.135432  0.000000  2.566119  1.236194  1.201420  0.681939  1.164480
3 -2.046168  0.772551  0.274177  0.039248 -0.056899 -0.557984  0.316679
4  0.604744 -0.729532 -0.141619 -0.365957 -0.928815  0.273612 -0.556620

In [ ]:
df=pd.DataFrame(np.random.standard_normal((7,4)))
df

          0         1         2         3
0 -0.212527 -0.256982  2.891655  0.671897
1 -0.140405 -0.174870  0.086418 -0.937150
2  0.031395  0.861523 -1.030905 -1.285987
3 -1.777597 -0.624770  0.829770  0.551843
4  0.144399 -0.891477  0.828065  0.211333
5 -0.084750  0.118390 -0.030007 -0.167740
6  0.556043 -0.705361  0.122141  0.272243

In [ ]:
df.fillna(method="ffill")

          0         1         2         3
0 -0.212527 -0.256982  2.891655  0.671897
1 -0.140405 -0.174870  0.086418 -0.937150
2  0.031395  0.861523 -1.030905 -1.285987
3 -1.777597 -0.624770  0.829770  0.551843
4  0.144399 -0.891477  0.828065  0.211333
5 -0.084750  0.118390 -0.030007 -0.167740
6  0.556043 -0.705361  0.122141  0.272243

# **Data Transformation**

In [ ]:
#removing duplicates
data=pd.DataFrame({"X":["One","Two"] *3 + ["Two"] , "Y":[3,3,7,7,4,4,1]})
data

     X  Y
0  One  3
1  Two  3
2  One  7
3  Two  7
4  One  4
5  Two  4
6  Two  1

In [ ]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [ ]:
data.drop_duplicates()

     X  Y
0  One  3
1  Two  3
2  One  7
3  Two  7
4  One  4
5  Two  4
6  Two  1

In [ ]:
data["Z"]=range(7)
data

     X  Y  Z
0  One  3  0
1  Two  3  1
2  One  7  2
3  Two  7  3
4  One  4  4
5  Two  4  5
6  Two  1  6

In [ ]:
data.drop_duplicates(subset=["Y"])

     X  Y  Z
0  One  3  0
2  One  7  2
4  One  4  4
6  Two  1  6

In [ ]:
data.drop_duplicates(["X","Y"],keep="last")

     X  Y  Z
0  One  3  0
1  Two  3  1
2  One  7  2
3  Two  7  3
4  One  4  4
5  Two  4  5
6  Two  1  6

In [ ]:
data=pd.DataFrame({"Fruits":["apple","kiwi","berry","Guava","Strawberry","cherry","mango"],
                  "Ounces":   [2,4,5,6,7,8,2]})
data

       Fruits  Ounces
0       apple       2
1        kiwi       4
2       berry       5
3       Guava       6
4  Strawberry       7
5      cherry       8
6       mango       2

In [ ]:
Fruits_to_Killos={
    "apple":1.4,
    "kiwi" :2.6,
    "berry":2.2,
    "Guava":1.2,
    "Strawberry":1.9,
    "Cheery":4.0,
    "mango":2.0,
}

In [ ]:
data["killos"]=data["Fruits"].map(Fruits_to_Killos)
data

       Fruits  Ounces  killos
0       apple       2     1.4
1        kiwi       4     2.6
2       berry       5     2.2
3       Guava       6     1.2
4  Strawberry       7     1.9
5      cherry       8     NaN
6       mango       2     2.0

In [ ]:
#renaming axis indexes
data=pd.DataFrame(np.arange(12).reshape((4,3)),
                  index=["Colorado","ohio","Utah","NYC"],
                  columns=["one","two","three"])
data

          one  two  three
Colorado    0    1      2
ohio        3    4      5
Utah        6    7      8
NYC         9   10     11

In [ ]:
def transform(x):
  return x[:4].upper()

In [ ]:
data.index.map(transform)

Index(['COLO', 'OHIO', 'UTAH', 'NYC'], dtype='object')

In [ ]:
data.index=data.index.map(transform)
data

      one  two  three
COLO    0    1      2
OHIO    3    4      5
UTAH    6    7      8
NYC     9   10     11